<h1 class="text-primary">Login Empleados</h1>

<form method="post">
    <label>Apellido</label>
    <input type="text" name="username" class="form-control" />
    <label>Password</label>
    <input type="text" name="password" class="form-control" />
    <button class="btn btn-info">
        Login
    </button>
</form>


<h2 class="text-danger">
    @ViewData["MENSAJE"]
</h2>